:root {
	/* COLOR */
	--text-color: hsl(0, 0%, 39%);
	--main-color-1: hsl(16, 95%, 65%);
	--background-color-1: hsl(26, 37%, 96%);

	/* POSITIONING */
	--line-width: .5rem;
	--line-border: var(--line-width) solid var(--main-color-1);
	--line-radius: 5em;

	--hero-offset: 10.3%;
	--about-offset: 3%;

	--max-content-width: 1400px;
}

html {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 1.2em; /* Global increase */
}
body {
	margin: 0;
	background: white;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: var(--main-color-1);
}

h2 {
	font-size: 2rem;
	color: var(--main-color-1);
}

h3 {
	color: var(--text-color);
}

button {
	border: 0;
}